@css {
    @import url("http://fonts.googleapis.com/css?family=Oranienbaum&subset=cyrillic");
}

@font-face
    font-family: "Gogol"
    src: url(/static/fonts/Gogol.ttf)

Gogol()
    font-family: "Gogol", cursive

Oranienbaum()
    font-family: "Oranienbaum", serif


$background = #f1e8d9
$foreground = #7d372b


body
    position: relative

#header
    max-width: 960px
    position: relative
    height: 260px
    background: $background
    background-size: 100% 100%
    
    img
        position: absolute
        height: 320px
        left: 30px
        top: 30px
    
    h1
        Gogol()
        color: $foreground

    blockquote
        Gogol()
        min-width: 385px
        margin-top: 50px
        border-left: none

        span
            position: relative
            top: 5px
            margin: 0 5px 0 5px
            font-weight: bold
            font-size: 30px

    @media (max-width: 767px)
        img        { display: none }
        span#right { display: block }

    @media (max-width: 500px)
        img        { display: block }
        span#right { display: none }


#songs
    margin-top: 10px

    tr:nth-child(odd) td
        background-color: #fefff6

    tr:hover td
        background-color: $background

    tr.playing td
        background-color: $background

    td
        border-top: none
        cursor: pointer
        overflow: hidden
        padding-top: 15px
        height: 96px

    td:first-child
        width: 96px
        height: 96px

        .button
            width: 100%
            height: 100%

        .play
            background: url(/static/images/play.png) no-repeat

        .pause
            background: url(/static/images/pause.png) no-repeat

    td:last-child
        padding: 30px 0 0 30px

        .title
            Oranienbaum()
            font-size: 36px

        .artist
            Oranienbaum()
            margin-top: 10px
            color: gray

        .length
            Oranienbaum()
            margin-right: 20px
            font-size: 24px
            float: right

    @media (max-width: 767px)
        td:last-child
            .title
            .length
                font-size: 24px

    @media (max-width: 500px)
        td:first-child
            width: 64px

            .button
                background-size: 100% 66%
                background-position: 0 16px

        td:last-child
            padding-left: 10px

            .title
            .length
                font-size: 18px

#karaoke
    display: none
    background: white
    position: fixed
    z-index: 10
    left: 0
    bottom: 0
    top: 126px
    width: 100%
    overflow: hidden
    Oranienbaum()
    padding-top: 30px
    font-size: 48px

    #lines
        position: absolute
        left: 0
        bottom: 0
        width: 100%
        height: 160px

        .line
            position: absolute
            white-space: nowrap
            overflow: hidden
            text-align: center
            height: 50%

            .text
                display: inline-block
                padding-top: 27px
                height: 36px

                @media (max-width: 767px)
                    padding-top: 15px
                    height: 24px

            .shadow
                z-index: 1
                width: 1px
                color: blue
                background: yellow

        .first
            top: 0

        .second
            bottom: 0

    @media (min-width: 1200px)
        font-size: 58px
        
        #lines
            height: 200px

    @media (max-width: 767px)
        font-size: 36px

        #lines
            height: 120px

    @media (max-width: 500px)
        font-size: 24px

        #lines
            height: 100px
